<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scaleial-scale1.0">
        <title>Rejeitar pagamenro</title>
        <link rel="stylesheet" href="rejeitar.component.css">
    </head>

<body>
    <div class="conteiner">
        <div class="descrição">
        <h1><b>Rejeitar</b></h1>
        </div>

        <p class="texto">Descreva o motivo da rejeição abaixo!!</p><br><br>
    
        <div class="descricao">
            Descrição:
        </div>

        <br><br><button>Confirmar</button><br>

        <!--     Serviço Rejeitado span -->
        
    </div>
   
</body>
</html>
