*{
    background-color: #101113;
    color:white;
    text-align: center;
}

body{
    background: var(--bg);
    color: var(--text);
    font-family: -apple-system, "Segoe UI", Arial, sans-serif;
    margin: 0;
    padding: 0 0 80px 0;
}

.orcament{
    font-size:20px ;
   background-color: #fa5f12;
   display: inline-block;
   
}

.h1{
    font-size: 30px;
}

.meio{
    font-size: 20px;
}

.button{
    padding-left: 20cm;
    border: 2px;
    border-color: #ff8345;
    color:#fa5f12;
}

.body{
    display: flex;
    align-items: center;
}

.container{
    width: 40%;
    min-height: 20vh;
    margin: auto;
    align-items: center;
    border-radius: 24px;
    border: 2px solid #fa5f12;
    position: relative;
    top: 50px;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

}

.wrapper a{
    display: inline-block;
    text-decoration: #fa5f12;
    padding: 20px;
    background-color: #101113;
    border-radius: 3px;
    text-transform: uppercase;

}

.modal{
    border: 3px solid #fa5f12;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

.conteudo{
    border-radius: 3px;
    position: relative;
    background: #101113;
    padding: 1em 2em;
    color:#fa5f12
}

.modal:target{
    visibility: visible;
    opacity: 1;
}

.modal_fechar{
    position:absolute;
    text-decoration: none;
}

.modal_b{
    background-color: #ff8345;
    position:absolute;
    text-decoration: none;
}