<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scaleial-scale1.0">
        <title>Pagamento Cliente</title>
        <link rel="stylesheet" href="pagar.component.css">
    </head>

<body>
    
    <div class="descrição">
    <h1><b>Pagar</b></h1>

        <div class="meio">
            <p>Data:DD/MM/YYYY e Hora: 00:00</p>

            <p>Descrição Equipamento: </p>
            <p>Categoria:</p>
            <p>Defeito:</p>
        </div>
    </div>

    <div class="pagamento">
        Orçamento: R$xxxxx<br>
    </div>

    <br><br><button>Confirmar Pagamento</button>

    <!-- pagamento confirmado span-->

   
</body>
</html>
