<div class="container">


    <h1 class="h1">Pagamento</h1>

    <h3>Dados da Solicitação</h3>

    <div class="meio">

        <div class="fiend">
            Descrição Equipamento:  <p class="valor">{{equipamento}}</p>
        </div>

        <div class="fiend">
            Categoria: <p class="valor">{{categoria}}</p>
        </div>

        <div class="fiend">
            Descrição do defeito: <p class="valor">{{defeito}}</p>
        </div>

    </div><br>

    <h2>Pagar</h2>

    <div class="fiend">

        <div class="pagamento">
            <h3>R$ {{pagamento}}</h3>
        </div>

    </div>

    <div class="botao">

        <button (click)="cancelar()"class="cancelar">Cancelar</button>

        <button (click)="pagar()" class="aprovar"> Pagar</button>

    </div>


    @if (pagarModal){

        <div class="modal">

            <div class="conteudo">

                <h3>Fazer pagamento</h3>

                <div class="pagamento">
                    <h2>R$ {{ pagamento }}</h2>
                </div><br>

                <div class="botao">
                    <button (click)="fechar()" class="cancelar">Cancelar</button>&nbsp;

                    <button [routerLink]="['/cliente/inicio']" class="aprovar"> Pagar</button>

                </div>
            </div>

        </div>

    }


    @if (cancelarModal) {

        <div class="modal">

            <div class="conteudo">

                <h4>Deseja fazer o cancelamento do pagamento? </h4>

                <div class="botao">

                    <button (click)="fechar()" class="cancelar">Cancelar</button>

                    <button [routerLink]="['/cliente/inicio']"  class="aprovar"> Confirmar</button>

                </div>

            </div>

        </div>
    }
</div>
