<div class="container">


    <h1 class="h1">Pagamento</h1>

    <h3>Dados da Solicitação</h3>

    <div class="meio">

        <div class="fiend">
            Descrição Equipamento
            <p class="valor">{{equipamento}}</p>
        </div>

        <div class="fiend">
            Categoria
            <p class="valor">{{categoria}}</p>
        </div>

        <div class="fiend">
            Descrição do defeito
            <p class="valor">{{defeito}}</p>
        </div>

    </div>

    <h2>Pagar</h2>

    <div class="fiend">

        <div class="pagamento">
            <h3>R$ {{pagamento}}</h3>
        </div>

    </div>

    <div class="botao">

        <button (click)="cancelarModal"class="rejeitar">Cancelar</button>

        <button (click)="pagarModal" class="aprovar"> Pagar</button>

    </div>


    @if (pagarModal){

        <div class="modal">

            <div class="conteudo">

                Pagar em

                <div class="pagamento">
                    <h2>R$ {{ pagamento }}</h2>
                </div>

                <a [routerLink]="['cliente/inicio']"> <button class="aprovar"> Pagar</button></a>

            </div>

        </div>

    }


    @if (cancelarModal) {

        <div class="modal">

            <div class="conteudo">

                <h2>Cancelar pagamento</h2>

                <div class="botao">

                    <button (close)="cancelarModal = false" class="aprovar">Cancelar</button>

                    <a [routerLink]="['cliente/inicio']"><button class="aprovar"> Confirmar</button></a>

                </div>

            </div>

        </div>
    }
</div>
