<div class="tela-lista">
    <form class="filter-list">
        <input type="text" placeholder="Pesquisar"/> <br/> <br/>
        <input type="button" value="Filtar +" id="add-filter-btn"/>
    </form>
    <section class="list-solicitacoes">
        <div class="solicitacao-container">
            <span>Cliente</span>
            <span>Data</span>
            <span class="status">STATUS</span>
        </div>

        <div class="solicitacao-container">
            <span>Cliente</span>
            <span>Data</span>
            <span class="status">STATUS</span>
        </div>
    </section>
</div>

